[
  {
    "ParameterKey": "GitHubRepo",
    "ParameterValue": "typescript-nexus-prisma"
  },
  {
    "ParameterKey": "GitHubBranch",
    "ParameterValue": "master"
  },
  {
    "ParameterKey": "GitHubToken",
    "ParameterValue": ""
  },
  {
    "ParameterKey": "GitHubUser",
    "ParameterValue": ""
  }
]
